:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #f54d2d;
    --border-color: #dbdbdb;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc((--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid { 
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.grid__column-2{
    width: 16.6667%;
    padding-left: 12px;
    padding-right: 12px;
}
.grid__column-10{
    width: 83.3333%;
    padding-left: 12px;
    padding-right: 12px;
}
/* modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.2s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
}
.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    position: relative;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.2s;
}

/* modal */
/* animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to
    {
       transform: scale(var(--growth-to));
    }
}
/* animation */
/* button style */
.btn{
    min-width: 124px;
    height: 34px;
    font-size: 1.5rem;
    border-radius: 2px; 
    border: none;
    text-decoration: none;
    padding: 12px;
    outline: none;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.215);
}
.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 8px;   
}
.btn.btn--disable{
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}
/* button style */