:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #f54d2d;
    --border-color: #dbdbdb;
    --start-gold-color: #ffce3e;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-sort-bar-height: 46px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column-2{
    width: 16.6667%;
    padding-left: 5px;
    padding-right: 5px;
}
.grid__column-2-4{
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}
.grid__column-10{
    width: 83.3333%;
    padding-left: 5px;
    padding-right: 5px;
}
/* modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.2s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
}
.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    position: relative;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.2s;
}

/* modal */
/* animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to
    {
       transform: scale(var(--growth-to));
    }
}

/* animation */
/* button style */
.btn{
    min-width: 124px;
    height: 34px;
    font-size: 1.5rem;
    border-radius: 2px; 
    border: none;
    text-decoration: none;
    padding: 12px;
    outline: none;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.215);
}
.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 8px;   
}
.btn.btn--disable{
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}
/* button style */
/* Selection */
.select__input{
    position: relative;
    padding: 0 12px;
    height: 34px;
    min-width: 200px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
}
.select__input-icon{
    font-size: 1.2rem;
    color: rgb(131, 131, 131);
    position: relative;
}
.select__input-list{
    position: absolute;
    padding: 10px 16px;
    left: 0;
    right: 0;
    top: 22px;
    list-style: none;
    border-radius: 2px; 
    background-color: var(--white-color);
    display: none;
    z-index: 1;
}
.select__input-link{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    padding: 5px 0px;
}
.select__input:hover .select__input-list{
    display: block;
}
.select__input-link:hover{
    color: var(--primary-color);
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.pagination-item{
    margin: 0 8px;
}
.pagination-item-link{
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
}
.pagination-item-link-active{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.pagination-item-link-active:hover{
    background-color: #e76b52;
}
