.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
    display: flex;
    position: relative;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
}

.header__navbar-item-link{
    text-decoration: none;
}
.header__navbar-item-link,
.header__navbar-item{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 300;
}
.header__navbar-item-link:hover,
.header__navbar-item:hover,
.header__navbar-icon-link:hover{
    color: rgba(255,255,255,0.8);
    cursor: pointer;
}
.header__navbar-item--bold{
    font-weight: 450;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #ebe3e3;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-icon-link{
    color: var(--white-color);
    font-size: 1.8rem;
    margin: 0 1px 0 4px;
}
.header__navbar-icon-link:nth-child(2){
    margin-left: 4px;
}
.header__navbar-item,
.header__navbar-icon-link{
    align-items: center;
}
.header__navbar-item--no-pointer{
    cursor: text;
    color: var(--white-color);
}

.header__QR{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    top: 120%;
    left: 0;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}
.header__QR::before{
    content:" ";
    position: absolute;
    height: 20px;
    width: 100%;
    top: -15px;
    left: 0;
}
.header__navbar-item--appear:hover .header__QR{
    display: block;
}
.header__navbar-item-link--has-notify:hover .header__notify{
    display: block;
}
.header__navbar-user{
    display: flex;
    justify-content: center;
    position: relative;
}
.header__navbar-user-img{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 1px solid #EE4D2D;
}
.header__navbar-user-name{
    margin-left: 4px;
    font-weight: 500;
    font-size: 1.4rem;
}
.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    padding-left: 0px;
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 1px 2px #e8e8e8;
    display: none;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-list::after{
    content: "";
    position: absolute;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    border-width: 18px 27px;  
    top: -28px;
    right: 4px;
}
.header__navbar-user-item{
    padding: 8px 16px;
    font-size: 1.4rem;
}
.header__navbar-user-item:hover{
    background-color: #fafafa;
}
.header__navbar-user-item a{
    text-decoration: none;
    pad: 0 16px;
    display: block;
}
.header__navbar-user-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0,0,0,0.1);
}

.header__QR-img{
    width: 100%;
    margin-bottom: 10px;
}
.header__QR-Apps{
    display: flex;
    justify-content: space-between;
}
.header__QR-Apps-download{
    height: 16px;
}
.header__QR-Apps-link:nth-child(1){
    margin-left: 11px;
}
.header__QR-Apps-link:nth-child(2){
    margin-right: 11px;
}

.header__notify{
    position: absolute;
    top: 150%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: transform, opacity;
    display: none;
    z-index: 1;
}
.header__notify::before{
    content: "";
    position: absolute;
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -28px;
    right: 2px;  
}
.header__notify::after{
    content: "";
    position: absolute;
    display: block;
    top: -12px;
    right: 0;
    width: 90px;
    height: 12px;
}
@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3{
    color: #999;
    font-weight: 400;
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}
.header__notify-list{
    padding-left: 0;
}
.header__notify-viewed{
    background-color: rgba(255, 100, 51, 0.1);
}
.header__notify-item:hover{
    background-color: #f5f4f5;
}
.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-information{
    margin-left: 12px;
}
.header__notify-information-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
}
.header__notify-information-description{
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.4rem;
    margin-top: 4px;
}

.header__notify-footer-btn{
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 0px;
    width: 100%;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    display: block;
}

/* modal */
.authen-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 0.5rem;
}
.authen-form__form{
    margin-bottom: 16px;
}
.authen-form__container{
    margin: 0 32px;
}
.authen-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.authen-form__heading{
    font-size: 2.2rem;
    font-weight:400;
    color: var(--text-color);
}
.authen-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.authen-form__input{
    margin-top: 16px;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}
.authen-form__input:focus{
    border-color: #888;
}
.authen-form__aside{
    margin-top: 18px;
}
.authen-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.authen-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}
.authen-form__control{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.authen-form__control--back{
    margin-right: 8px;
}
.authen-form__social{
    display: flex;
    background-color: #F5F5F5;
    padding: 16px 36px;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}
.authen-form__social-title{
    padding: 0 36px;
}
.authen-form__social-icon{
    font-size: 2rem;
}
.btn--icon-facebook{
    background-color: #3a5a98;
    color: var(--white-color);
}
.btn--icon-google{
    background-color: var(--white-color);
    color: #666;
    margin-left: 8px;  
}

.authen-form__help{
    display: flex;
    justify-content: flex-end;
}
.authen-form__help-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #999;
}
.authen-form__help-separate{
    display: block;
    height: 22px;
    border: 1px solid var(--border-color);
    margin: -2px 16px 0;
}
.authen-form__help-forget{
    color: var(--primary-color);
    font-weight: 500;
}
/* modal */

/* header search */
.header-with-search{
   height: var(--header-with-search-height);
   display: flex;
   align-items: center;
   margin-left: 8px;
}
.header__logo{
    width: 200px;
}
.header__logo-img{
    width: 150px;
}
.header__logo-link{
    text-decoration: none;
    color: transparent;
}
.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0 5px #999;
    overflow: hidden;
    display: none;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-history-heading{
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    margin: 8px 12px 6px; 
}
.header__search-history-heading:hover{
    background-color: #ccc;
    cursor: pointer;
}
.header__search-history-list{
    padding-left: 0;
    margin: 6px 0 0;
}
.header__search-history-item{
    list-style: none;
    height: 38px;  
    padding: 0 12px;
    line-height: 38px;
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding:0 16px;
    border-radius: 2px;
}
.header__cart{
    width: 150px;
    text-align: center;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}
.header__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}
.header__cart-number-notice{
    position: absolute;
    padding: 1px 7px;
    background-color: var(--white-color);
    font-size: 1.4rem;
    color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    line-height: 1.4rem;
    top: -3px;
    right: -5px;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 6px);
    background-color: var(--white-color);
    border-radius: 2px;
    width: 400px;
    box-shadow: 0 2px 10px #ccc;
    right: 1px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
}
.header__cart-list::after{
    position: absolute;
    content: " ";
    right: 3px;
    top: -24px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.header__cart-list-no-cart{
    padding: 24px 0;
}
.header__cart-no-cart-img{
    width: 60%;
    height: 40%;
    display: none;
}
.header__cart-list-no-cart-message{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    display: none;
    margin-top: 14px;
}
.header__cart-list-no-cart .header__cart-no-cart-img,
.header__cart-list-no-cart .header__cart-list-no-cart-message
{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.header__cart-list-heading{
    text-align: left;
    font-size: 1.4rem;
    color: #ccc;
    font-weight: 400;
    margin: 8px 8px 8px 12px;
}
.header__cart-list-list{
    padding-left: 0px;
}

.header__cart-list-item{
    display: flex;
    align-items: center;
}
.header__cart-list-item:hover{
    background-color: #f1eaea;
}
.header__cart-list-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}
.header__cart-list-infor{
    width: 100%;
    margin-right: 12px;
}
.header__cart-list-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-list-head-title{
    font-size: 1.4rem;
    margin: 0;
}
.header__cart-list-head-price{
    line-height: 2.2rem;
}
.header__cart-list-head-price-price{
    font-size: 1.4rem;
    color: var(--primary-color); 
    font-weight: 500;
}
.header__cart-list-head-multiply{
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px;
}
.header__cart-list-head-qnt{
    font: 1.2rem;
    color: #757575;
}
.header__cart-list-body{
    display: flex;
    justify-content: space-between;
    line-height: 2.2rem;
}
.header__cart-list-body-description{
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-list-body-remove{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
}
.header__cart-list-body-remove:hover{
    color: var(--primary-color);
}
.header__cart-list-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-list-view-cart:hover{
    background-color: #fb6445;
}

.header__search-select{
    border-left: 2px solid #ccc;
    border-top: 2px;
    margin-top: 2px;
    padding-left: 16px;
    line-height: 24px;
    position: relative;
    cursor: pointer;
}
.header__search-option-icon,
.header__search-option{
    font-size: 1.4rem;
}
.header__search-option{
    color: var(--text-color);
}
.header__search-option-icon{
    margin:  0 16px 0 8px;
    color: #4A4A4A;
}
.header__search-icon{
    background-color: var(--primary-color);
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    height: 34px;
    border: none;
    outline: none;
}
.header__search-icon:hover{
    background-color: #fb6445;
    cursor: pointer;
}
.header__search-icon i{
    color: var(--white-color);
    font-size: 1.4rem;
}

.header__option{
    position: absolute;
    right: 0;
    top: calc(100% - 1px);
    box-shadow: 0 1px 2px #ece4e4;
    width: 140px;
    padding-left: 0px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}
.header__option-select{
    list-style: none;
    background-color: var(--white-color);
    padding: 8px 8px;
    border-radius: 2px;
}
.header__option-select:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-select:hover .header__option
{
    display: block;
}
.header__option::after{
    content:"";
    display: block;
    width: 100%;
    height: 15px;
    position: absolute;
    top: -10px;
}   
.header__option-select i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
    border-radius: 2px;
}
.header__option-select--active i{
    display:  inline-block;
}
.header__option-select span{
    color: var(--text-color);
    font-size: 1.4rem;
    margin-left: 16px;
}

/* header search */
/* app__container */
.app__container{
    background-color: #f5f5f5;
}
.app__content{
    padding-top: 36px;
}
.category{
    border-radius: 2px;
    background-color: var(--white-color);
}
.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.category__heading{
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-top: 0px;
}
.category__list{
    padding-left: 0;
    list-style: none;
    padding: 0 0 8px 0;
    margin-left: 9px;
}

.category__item--active .category__item-link{
    color: var(--primary-color);
}
.category__item--active .category__item-link::before{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 4px;
    border-color: transparent transparent transparent var(--primary-color);
    left: 7px;
    top: 50%;
    transform: translateY(calc(-50% - 1px));
}
.category__item-link{   
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 8px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}
.category__item-link:hover{
    color: var(--primary-color);
    right: -4px;
}
/* home */